/*колір тексту h2 та h3
color: #212121;*/
/*колір тексту p у h3 та телефону в Хедері
color: #757575;*/
/* білий
color: #FFFFFF;*/
/* блакитний, акцент
color: #2196F3;*/
/* чорний у Studio
color: #000000*/
/*бекграунд сірий
background: #F5F4FA;*/
/*підвал та герой 
background: #2F303A;*/
:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --second-background-color: #F5F4FA;

  
}
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
}
/* Прибирає "*" з усіх списків */
ul {
  list-style: none;
}
/*кольори лого*/
.logo {
  color: var(--black-color);
}
.logo-accent {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/*Навігація по сайту*/
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts.list .phone,
.contacts.list .e-mail {
  color: var(--primary-text-color);
}
.contacts.list .phone:focus,
.contacts.list .phone:hover,
.contacts.list .e-mail:focus,
.contacts.list .e-mail:hover {
  color: var(--accent-color);
}
/*Герой*/
.hero {
  color: var(--white-color);
  background-color: #2f303a;
}
/* Секції*/
.section-title,
.section-subtitle {
color: var(--title-text-color);
}
.comand-section {
background-color: var(--second-background-color);
}
/*Кнопка*/
.button {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
}
.button:hover,
.button:focus{
   color: var(--white-color);
   background-color: var(--accent-color);
}
.primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
