/*колір тексту h2 та h3
color: #212121;*/
/*колір тексту p у h3 та телефону в Хедері
color: #757575;*/
/* білий
color: #FFFFFF;*/
/* блакитний, акцент
color: #2196F3;*/
/* чорний у Studio
color: #000000*/
/*бекграунд сірий
background: #F5F4FA;*/
/*підвал та герой 
background: #2F303A;*/
body {
  color: #757575;
  background-color: #ffffff;
}
/* Прибирає "*" з усіх списків */
ul {
  list-style: none;
}
/*кольори лого*/
.logo {
  color: #000000;
}
.logo-accent {
  color: #2196f3;
}
.logo:hover,
.logo:focus {
  color: #2196f3;
}
/*Навігація по сайту*/
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.contacts-list>.phone,
.contacts-list>.e-mail {
  color: #757575;
}
.contacts-list:focus,
.contacts-list:hover {
  color: #2196f3;
}
/*Герой*/
.hero {
  color: #ffffff;
  background-color: #2f303a;
}
/* Секції*/
.section-title,
.section-subtitle {
color: #212121;
}