/*колір тексту h2 та h3
color: #212121;*/
/*колір тексту p у h3 та телефону в Хедері
color: #757575;*/
/* білий
color: #FFFFFF;*/
/* блакитний, акцент
color: #2196F3;*/
/* чорний у Studio
color: #000000*/
/*бекграунд сірий
background: #F5F4FA;*/
/*підвал та герой 
background: #2F303A;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --second-background-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Прибирає "*" з усіх списків */
ul {
  list-style: none;
}
/*кольори лого*/
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
/*Навігація по сайту*/
.site-nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts.list .phone,
.contacts.list .e-mail {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contacts.list .phone:focus,
.contacts.list .phone:hover,
.contacts.list .e-mail:focus,
.contacts.list .e-mail:hover {
  color: var(--accent-color);
}
/*Герой*/
.hero {
  color: var(--white-color);
  background-color: #2f303a;
  letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
/* Секції*/
.section-title,
.section-subtitle {
  color: var(--title-text-color);
}
.section-title.second {
letter-spacing: 0.06em;
}
.comand-section {
  background-color: var(--second-background-color);
}
/*Кнопка*/
.button {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
}
